run-name: Wiki-Updation
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
 Action:
    runs-on : ubuntu-latest
    env: 
      WIKI: ${{secrets.WIKI_TOKEN}}
    steps:
       - name: Chechout Super Repo
         uses: actions/checkout@v3
       - run: |
            ls 
            pwd
            echo ${GITHUB_REPOSITORY}
            rm -rf artifacts_repo
       - name: Setup credentials to access private repositories
         run: git config --global url.https://$WIKI@github.com/.insteadOf https://github.com/
       - run: |
          export $WIKI
          bash wikiupdate.sh      
         shell: bash
      #  - name: Render PlantUML to wiki
      #    uses: frederikheld/render-plantuml-to-wiki-action@v1.0.2
      #    with:
      #      WIKI_TOKEN: ${{ secrets.WIKI_TOKEN }}
      #      INPUT_DIR: plantuml/
      #      OUTPUT_DIR: plantuml_images/
      #  - name: Checkout wiki code
      #    uses: actions/checkout@v2
      #    with:
      #     repository: ${{github.repository}}.wiki

